@font-face{
	font-family:10;
	font-display:swap;
	src:url("../fonts/10.woff") format(woff);
	font-weight:400;
	font-style:normal;
};
@font-face{
	font-family:20db;
	font-display:swap;
	src:url("../fonts/20db.woff") format(woff);
	font-weight:400;
	font-style:normal;
};
